.Button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    border-radius: 1rem;
    width: 5rem;
    outline: none;
    
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Success {
    background-color: #3dc777;
}

.Cancel {
    background-color: red;
}